<!-- This will contain information to include in the header of all the html files (if you want to display things like current email in use, poll name, etc) -->


<head>
  <!-- Add link to css styles -->
  <!-- Add link to app.js -->
  <title>Poll Your Friends</title>

</head>
