<!DOCTYPE html>

<html lang="en">

<% include ./partials/_header %>

<body>
  <h1>Let's create a poll!</h1>

  <form method="POST" action="/test">
    <p>Your email:</p>
    <input type="text" name="email" class="email" placeholder="example@example.com"></input>
    <p>Poll name:</p>
    <input name="poll_title" class="poll_title" placeholder="Which movie?"></input>
    <p>Enter options...</p>
    <div class="options_section">
      <div class="option_container">
      <p><input name="option_name" class="option_name" placeholder="Enter option"></input>
      <p><input name="option_desc" class="option_desc" placeholder="Enter description"></input></p>
      </div>
      <button class="creatediv">+</button></p>
    </div>
    <!-- + button adds another option enter text field -->
    <button id="createpoll">Create poll</button>
  </form>

</body>




</html>
