<!DOCTYPE html>

<html lang="en">

<% include ./partials/_header %>

<body>
  This is where we will display the page where you create a new poll at /createpoll

  <form>
    <p>Your email:</p>
    <input type="text" name="email" placeholder="example@example.com"></input>
    <p>Poll name:</p>
    <input placeholder="Which movie?"></input>
    <p>Enter options...</p>
    <p><input placeholder="Option 1"></input>
    <button>+</button></p>
    <!-- + button adds another option enter text field -->
    <button>Create poll</button>
  </form>

</body>




</html>
