<!DOCTYPE html>

<html lang="en">

<% include ./partials/_header %>

<body>
<div class="container text-center">
  <h1 class="text-info">Let's create a poll!</h1>

<div class="row d-flex justify-content-center">
  <div class="col-md-6">

    <form method="POST" action="/createpoll" enctype="multipart/form-data">
      <label class="text-info">Your email:</label>
      <input type="email" name="email" class="email form-control"   placeholder="name@example.com" required></input>

      <label class="text-info">Poll name:</label>
      <input name="poll_title" class="poll_title form-control" placeholder= "Which movie?"></input>

      <label class="text-info">Enter options...</label>
      <div class="options_section">
        <div class="option_container">
          <button class="delete-option"> x </button>
          <input name="option_name_0" class="option_name form-control" placeholder="Enter option"></input>
          <textarea name="option_desc_0" class="option_desc form-control" placeholder="Enter description (optional)" ></textarea>

          <div class="row text-sm-left upload">

            <div class="col-sm-12">
            
              <input type="file"  name="option_image_0" class="text-info file">
            </div>
          </div>
        </div>
      </div>
      <button class="creatediv btn btn-info">Add Another Option</button>
      </p>
      <!-- + button adds another option enter text field -->
      <button class="btn btn-info" id="createpoll">Create poll</button>
    </form>
  </div>
</div>

  <p class="text-info">You will receive an email containing a link to share the poll,<br> as well as a link to the results.</p>

</div> <!-- closing container text-center under body -->
</body>




</html>
