This is where we will display the page where you create a new poll at /createpoll


<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Add link to css styles -->
    <!-- Add link to app.js -->
    <title>
  </head>

  <body>


  </body>
</html>
