<!DOCTYPE html>

<html lang="en">

<% include ./partials/_header %>

<body>
  <h1>Let's create a poll!</h1>

  <form method="POST" action="/test">
    <p>Your email:</p>
    <input type="text" name="email" placeholder="example@example.com"></input>
    <p>Poll name:</p>
    <input name="poll_title" placeholder="Which movie?"></input>
    <p>Enter options...</p>
    <div id="makeoptions">
      <p><input name="option" placeholder="Enter option"></input>
      <button class="creatediv">+</button></p>
    </div>
    <!-- + button adds another option enter text field -->
    <button>Create poll</button>
  </form>

</body>




</html>
