<!DOCTYPE html>

<html lang="en">

<% include ./partials/_header %>

  <body>
    This is the page with the poll at /:shortURL


    <h3>Poll Name</h3>

    <div>Option 1</div>
    <div>Option 2</div>
    <div>Option 3</div>
    <div>Option 4</div>

    <button>Done</button>
  </body>
</html>
