<!DOCTYPE html>

<html lang="en">

<% include ./partials/_header %>

<body>
  This is where you view the results at /:shortURL/results

  <h3>Poll Name Here</h3>

  <p>1. Winning option</p>
  <p>2. Second best</p>
  <p>3. Etc.</p>

  <p><a href="#">Link to poll for sharing</a></p>

</body>


</html>
