<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>

  <body>
    <div class="container">

      <div class="jumbotron bg-white">
        <h1 class="text-info">Thank You!</h1>
        <p class="lead text-info">
          Your votes have been submitted!<br>
          <br>
          Click the button below to start your own poll!<br>
          <br>
          <a href="/createpoll" class="btn btn-info">Start New Poll</a>
        </p>
      </div>

    </div>
  </body>

</html>