<!DOCTYPE html>

<html lang="en">

<% include ./partials/_header %>

 <body>
   This is the page that you are directed to when you submit an answer to a poll, and the url is /thankyou
   The purpose is to take that user off the poll page so they don'taccidentally re-submit

   <h3>Your answer was successfully submitted!</h3>
   <p>Thank you!</p>
 </body>
</html>
