@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #F0F8FF;
  margin-top: 20px;
  padding: 10px;

  h1 {
    color: #244751;
  }
}

.ui-state-default {
  margin: 10px;
}
.option_container {
  margin-bottom: 10px;
  padding: 0px 10px 10px 10px;
  border: solid 1px #c0c0c0;
  border-radius: 10px;
}

.option_container .btn {
  margin-top: 10px;
  color: #868e96;
}


.delete-option {
  padding-bottom: 0px;
  padding-top: 0px;
  float: right;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #868e96;
  margin-right: -10px;
}

.img-fluid {
  max-height: 6em;
  width: auto;
  float: left;

}

.img-fluid:after {
  content: "";
  display: table;
  clear: both;
}


.upload {
  margin-top: 10px;
}

input.file {
  margin-left: -10%;
}
